{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/register.css' %}">
{% endblock css %}


{% block content %}

<div class="content-section">

<section>
    <div class="g-col" style="background-color: #ff0884;"></div>
    <div class="g-col" style="background-color: #fffc65;"></div>
    <div class="g-col" style="background-color: #00e1ff;"> </div>
    <div class="g-box">
        <div class="g-square" style="--i:0;"></div>
        <div class="g-square" style="--i:1;"></div>
        <div class="g-square" style="--i:2;"></div>
        <div class="g-square" style="--i:3;"></div>
        <div class="g-square" style="--i:4;"></div>
        <div class="g-container">
            <div class="g-form">
                <h2>Successfully logged out!!</h2>

                    <p class="g-forgot"><a href="{% url 'login' %}">Login in now</a></p>
                    <p class="g-forgot">Don't have an account ? <a href="{% url 'register' %}">Create now!</a></p> 
            </div>
        </div>

{% endblock content %}